doctype html
html(lang="ru").no-js
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title= title
    meta(name="description", content='description')
    meta(name="keywords", content='keywords')

    meta(name="apple-mobile-web-app-capable", content="yes")

  body
    .all_wrp
      header#header
      main.cont_wrp
        block content
      footer#footer
