
div.form-group
    label(for=field.id, class="col-sm-2 control-label")= field.label

    - var hasHint = !!field.hint;
    - var coordinates = (field.value && field.value.coordinates) || ['', ''];

    div(class="col-sm-" + (hasHint ? '7' : '10'))
        | lat:
        input(
            type=(field.type || 'text'),
            step="any",
            name=field.name + '[0]',
            value=coordinates[0],
            id=field.id + '_0',
            class!=field.class,
            required=field.required,
            placeholder=field.placeholder
        )
        | long:
        input(
            type=(field.type || 'text'),
            step="any",
            name=field.name + '[1]',
            value=coordinates[1],
            id=field.id + '_1',
            class!=field.class,
            required=field.required,
            placeholder=field.placeholder
        )

    if hasHint
        .col-sm-3= field.hint
